.main {
    border: 2px solid black;
    height:300px;
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .secondary {
    border: 3px solid black;
    height: 300px;
    width:500px;
  
  }
  #main1{
    height: 90px;
    width: 200px;
    padding-left: 145px;
    
    
   
  }
  #text{
    padding-left: 165px;
   
  }
  #icon {
    display: flex;
    flex-direction: row-reverse;
  }
  #button{
    margin-left:35%;
    width: 150px;
    background-color: white ;
    border: none;
    cursor: pointer;
  }